body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2a5934;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

textarea {
  resize: none;
  height: 100px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  background-color: #2a5934;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #3b7c48;
}

.secondary {
  background-color: #c40a0a;
  color: #ffffff;
}

.secondary:hover {
  background-color: #c40a0a;
}
