<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TechSafra — Página Inicial</title>
    <link rel="stylesheet" href="/css/PaginaInicial.css" />
    <link rel="stylesheet" href="/PaginaInicial.html" />
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/PaginaInicial.css" />
    <meta name="viewport" content="width=device-device-width, initial-scale=1.0">
</head>

<body>
    <header class="container">
        <div style="display:-moz-stack;align-items:center;gap: 16px">
            <a href="/PaginaInicial.html"><img
                    src="/img/logo.png" width="250"></a>

        </div>
        <nav class="nav">
            <a
                href="/PaginaInicial.html">Início</a>

            <a href="/template/telalogin.html"
                class="botão">Entrar</a>
        </nav>
    </header>

    <main>
        <section class="hero container">
            <div class="hero-left">
                <h1>Sobre o TechSafra</h1>
                <p class="lead">
                    O <strong>TechSafra</strong> é um projeto desenvolvido por cinco estudantes 
                    do programa Jovem Programador, com o objetivo de aproximar a tecnologia do campo.
                </p>

                <p class="lead">
                    Nossa proposta é oferecer uma plataforma prática e acessível que ajude pequenos
                     e médios agricultores a enfrentar os desafios da agricultura moderna.
                </p>

                <p class="lead">
                    Por meio de ferramentas de monitoramento, previsão e gestão agrícola, 
                    o TechSafra busca facilitar o controle das atividades no campo, permitindo
                     que o produtor acompanhe dados importantes sobre estoque, maquinário e solo em tempo real.
                </p>

                <p class="lead">
                    Queremos mostrar que a tecnologia pode ser simples, útil e transformadora, 
                    tornando o trabalho no campo mais produtivo, econômico e sustentável.
                </p>

                <h3>Gestão fácil, produção forte.</h3>
               
            </div>

            <div class="hero-card">
                <img class="hero-image" src="/img/photocampo.jpeg" alt="Campo cultivado" />
            </div>
        </section>
    </main>
    <header class="container">
        </div>
        <nav class="nav">
            <a href="/template/sobrenos.html"
                class="botão">Sobre nós</a>
        </nav>
    </header>

</body>

</html>