<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TechSafra — Página Inicial</title>
    <link rel="stylesheet" href="/css/PaginaInicial.css" />
    <link rel="icon" href="/img/logo.png" />
    <meta
      name="viewport"
      content="width=device-device-width, initial-scale=1.0"
    />
  </head>

  <body>
    <header class="container">
      <div style="display: -moz-stack; align-items: center; gap: 16px">
        <a href="/PaginaInicial.html"
          ><img src="/img/logo.png" width="250"
        /></a>
      </div>
      <nav class="nav">
        <a href="/PaginaInicial.html">Início</a>

        <a href="/template/telalogin.html" class="botão">Entrar</a>
      </nav>
    </header>

    <main>
      <section class="hero container">
        <div class="hero-left">
          <h1>Sobre nós</h1>
          <p class="lead">
            O <strong>TechSafra</strong> surgiu da vontade de cinco estudantes
            de programação de criar uma ferramenta que auxilia os pequenos e
            médios agricultores.
          </p>

          <p>
            Nossa plataforma conecta fazendas, dados e análises para apoiar a
            tomada de decisões inteligentes, com ferramentas de monitoramento,
            previsão e gestão de plantações.
          </p>

          <h3>Missão</h3>
          <p>
            Inovar e capacitar o setor agrícola para colher rendimentos
            superiores e sustentáveis.
          </p>

          <h3>Visão</h3>
          <p>
            Ser referência na gestão de propriedades agrícolas, impulsionando a
            agricultura de precisão.
          </p>
        </div>

        <div class="hero-card">
          <img
            class="hero-image"
            src="/img/20250804_094844.jpg"
            alt="Campo cultivado"
          />
        </div>
      </section>
    </main>
  </body>
</html>
